<% if @todo.persisted? %>
  <form action="<%= todo_path(@todo) %>" method="POST" class="form-horizontal">
    <input type='hidden' name='_method' value='PUT' />
<% else %>
  <form action="<%= todos_path %>" method="POST" class="form-horizontal">
<% end %>

<div class="control-group">
  <label class="control-label" for="title">Title</label>
  <div class="controls">
    <input type="text" id="title " placeholder="Title" name='todo[title]' value='<%= @todo.title %>' class='input-xlarge'>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="notes">Notes</label>
  <div class="controls">
    <textarea name='todo[notes]' class='input-xlarge'><%= @todo.notes %></textarea>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <label class="checkbox">
      <input type='hidden' name='todo[completed]' value='' />
      <input type="checkbox" <%= @todo.completed? ? "checked" : "" %> name='todo[completed]' value='completed'> Completed
    </label>
    <button type="submit" class="btn">Save</button>
  </div>
</div>

</form>
